html{
  scroll-behavior: smooth;
}
body{
  background-color:#f7f6f2;
  color: #10192e;
  margin: 0;
  font-family: Plus Jakarta Sans;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 21%;
}
.logo-name{
  display: flex;
  align-items: center;
  gap: 16px;
}
.heading-logo{
  width: 80px;
  height: auto;
}
.nav-links{
  display: flex;
  gap: 25px;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: #10192e;
}
.nav-hire{
  background-color: #2563eb;
  color: white;
  padding: 8px 21px;
  border-radius: 999px;
}
.nav-hire:hover{
  background-color: white;
  color: #2563eb;
  border: solid 1px #2563eb;
}
header hr{
  border: none;
  border-top: 1px solid #e5e7eb;
}
.hero{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 96px 21%;
  align-items: center;
}
.hero h1{
  font-size: 72px;
  line-height: .95;
  margin-top: 24px;
  margin-bottom: 0px;
}
.hero-description{
  color: #475569;
  line-height: 1.6;
  margin-top: 24px;
}
.hero-buttons{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 0px;
  margin-top: 32px;
}
.hero-label{
  background-color: white;
  font-size: 12px;
  width: 180px;
  padding: 5px 5px;
  border-radius: 35px ;
  text-align: center;
  border: solid 1px #e5e7eb;
  font-weight: bold;
}

.desc-image{
  width: 473px;
  height: auto;
  border-radius: 28px;
}
.desc-texts{
  max-width: 600px;
}
/* .image-place{
  max-width: 373px;
} */
.hero-button-design{
  text-decoration: none;
  background-color: white;
  padding: 12px 24px;
  border-radius: 999px;
  border: solid 1px #e5e7eb;
  color: #10192e;
}
.hero-view-button{
  background-color: #2563eb;
  color: white;
  border-color: #2563eb;
}
.hero-view-button:hover{
  background-color: white;
  color: #2563eb;

}
.hero-get-button:hover{
  border-color: #2563eb;
  color: #2563eb;
}
.sections-template{
  padding: 96px 21%;
  border-top: solid 1px #e5e7eb;
}
.about-descriptions{
  display: flex;
  gap: 36px;
  font-size: 18px;
  color: #45526b;
  line-height: 30px;
}
.about-descriptions p{
  margin: 0px;
}
.sections-label{
  font-size: 12px;
  margin: 0;
  color: #2563eb;
}
.sections-sub-title{
  margin-top: 12px;
  font-size: 36px;
  
}
.about-descriptions p{
  flex: 1;
}
/* .skills-sec{
  padding: 96px 16%;
  border-top: solid 1px #e5e7eb;
} */
.skills-heading{
  margin-bottom: 56px;
}
.skill-card{
  background-color: white;
  border: solid 1px #e5e7eb;
  padding: 28px;
  /* max-width: 352px; */
  border-radius: 24px;  
  /* margin:1px; */
}
.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.skills-title-card{
  margin: 0px;
  font-size: 20px;
  color: #10192e;
}
.skills-description-card{
  line-height: 23px;
  font-size: 14px;
  color: #45526b;
}
.skills-tools{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 0px;
  padding: 0px;
  gap: 15px;
}

.skills-tools li{
  color: #2563eb;
  background-color: rgb(219, 230, 255);
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 12px;
}
.project-card{
  background-color: white;
  border: solid 1px #e5e7eb;
  border-radius: 24px;
  overflow: hidden;
}
.project-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 32px;
}
.project-description{
  padding: 28px;
}
.project-card-img{
  width: 100%;
  height: 200px;
}
.project-card-label{
  margin: 0px;
  padding: 4px 12px;
  background-color: white;  
  border: 1px solid #e5e7eb;
  text-align: center;
  width: 82px;
  font-size: 12px;
  border-radius: 999px;
  color: #45526b;
}
.project-card-title{
  margin: 16px 0px 0px;
  font-size: 20px;
}
.project-card-description{
  margin: 12px 0px 0px;
  font-size: 14px;
  line-height: 23px;
}
.project-card-footer{
  margin:20px 0px 0px;
  font-size: 12px;
  color: #2563eb;
}
.project-programming-section h3{
  margin: 0px;
}
.project-programming-section{
  border-top: 1px solid #e5e7eb;
  padding: 64px 0px 0px;
  margin-top: 64px;
}
.contact-card{
  text-align: center;
  padding: 80px 64px;
  background-color: #10192e;
  color: white;
  border-radius: 32px;
}
.contact-section h2{
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.contact-description{
  font-size: 16px;
  margin:16px 264px 0px;
}
.contact-button{
  margin: 32px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.contact-section a{
  color: white;
  padding: 12px 24px;
  border-radius: 999px;
  text-decoration: none;
}
.top-button{
  border: solid 1px #e5e7eb;
}
.top-button:hover{
  background-color: #283043;
}
.email-button{
  background-color: #2563eb;
  border:none;
}
.email-button:hover{
  background-color: transparent;
  border: solid 1px #e5e7eb;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 21% 0px 21%;
  padding: 32px 24px;
}
.footer-margin{
  border: none;
  border-top: 1px solid #e5e7eb;
}
.footer-section p{
  font-size: 14px;
}
.footer-links{
  display: flex;
  gap: 25px;
}
.footer-links a{
  text-decoration: none;
  color: #10192e;
  font-size: 14px;
}
/* @media (max-width: 758px){
  nav{
    padding: 16px 8%;
    flex-wrap: wrap;
    gap: 16px;

  }
  .nav-links{
    flex-wrap: wrap;
  }
  .hero,.about-descriptions {
    flex-direction: column;
  }
  .skills-grid, .project-grid {
    grid-template-columns: 1fr;
  }
  .hero, .sections-template {
    padding-left: 8%;
    padding-right: 8%;
  }
  .contact-description {
    margin: 16px auto 0;
  }

  .contact-section, .contact-card, .contact-button{
    flex-wrap: wrap;
  
  }
  .footer-section{
    flex-wrap: wrap;
    margin: 0 8%;
    gap: 16px;
    text-align: center;
  }
  .footer-name{
    margin-left: 100px;
    margin-bottom: 0px;
  }
  .footer-credits{
    margin-left: 28px;
  }
  .footer-links{
    margin-left: 50px;
  } */
/* }  */












